fastapi
uvicorn[standard]
pymongo[srv]>=4.10
dnspython>=2.6
certifi>=2024.7.4
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator
pydantic
razorpay
requests
