.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.sectionHeader > div {
  flex: 8;

}
.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.subtitle {
  color: #666;
  margin-top: 8px;
  text-align: center;
}

.action {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}